/* NProgress custom styles for route transitions */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0071e3;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #0071e3, 0 0 5px #0071e3;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none;
}
